.contenedor {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.502);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.contenedorForm {
  width: 90%;
  min-height: 90%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tituloCategoria {
  font-size: 2rem;
  margin: 5% 0;
}

.contenedorImagen {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.boton {
  background-color: red;
  width: fit-content;
}

.boton:hover {
  background-color: rgb(184, 32, 32);
}

.loadingBoton {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}
